<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lxmall.mainframe.dao.TestDao">
	<!-- 返回值映射map -->
	<resultMap id="testMapper" type="com.lxmall.mainframe.model.TestModel">
			<result property="id" column="id" />
			<result property="name" column="name" />
	</resultMap>
	
	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from test record
	</sql>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.pageSize}
	</sql>
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
	    SELECT 
	    <if test="queryFields != null ">
	 	     <trim prefix="" suffix="" suffixOverrides=",">
		        <foreach collection="queryFields" item="fi" index="index">
		          ${fi},
		        </foreach>
		      </trim> 	
	  	</if>
	    <if test="queryFields == null ">
	  		<![CDATA[
				 id, 
				 name 
			]]>
	  	</if>
	     FROM test record
	</sql>
	
	<sql id="where_fragement">
		<where> 
			<if test="entity!=null">
					<if test = "entity.id != null and entity.id != ''">
						<![CDATA[ and record.id  = #{entity.id} ]]>
					</if>
					<if test = "entity.name != null and entity.name != ''">
						<![CDATA[ and record.name  = #{entity.name} ]]>
					</if>
			</if>
		</where>
	</sql>
	
	<sql id="time_sort">
		order by createtime desc 
	</sql>

	<!-- 分页查询数据集合-->
	<select id="queryPageTest" resultMap="testMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
		<if test="page!=null">
			<include refid="pagination_tail" />
		</if>
		
	</select>
	
	<!-- 不分页查询数据集合-->
	<select id="queryListTest" resultMap="testMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<include refid="time_sort" />
	</select>
	
	<!-- 查询总数量 -->
	<select id="queryCountTest" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 查询单个实体 -->
	<select id="queryTestById" resultMap="testMapper" >
		<include refid="selectAllColumns"/>
		 where 
		 record.id = #{id}
	</select>
	
	<!-- 新增列处理 -->
	<sql id="sql_add_columns">
		<trim suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="name != null">name,</if>
		</trim>
	</sql>
	<sql id="sql_add_properties">
		<trim suffixOverrides=",">
				<if test="id != null">#{id},</if>
				<if test="name != null">#{name},</if>
		</trim>		
	</sql>
	
	<!-- 新增 -->
	<insert id="addTest" parameterType="com.lxmall.mainframe.model.TestModel">
		insert into test(
			<include refid="sql_add_columns"/>
		)values(
			<include refid="sql_add_properties"/>
		)
	</insert>
	<!-- 编辑 -->
	<update id="updateTest" parameterType="com.lxmall.mainframe.model.TestModel">
		update test record 
			<set>
					<if test = "name != null ">
						record.name = #{name}
					</if>
			</set>
		where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="removeTestByIds" parameterType="java.util.List">
		delete from test 
			where id in
			<foreach collection="list" open="(" separator="," close=")" item="code">
				#{code}
			</foreach>
		
	</delete>
	<delete id="removeTestById">
		delete from test 
		<if test=" id != null and id != ''">
			where id = #{id}
		</if>
	</delete>
	
</mapper>